    <div class="list">
    <div class = "add">
      <a href="" ng-click="addTodo()"> +Add a new task</a>
    </div>
    <div ng-repeat="todo in todos | orderBy:'completed'" class="item" ng-class="{'editing-item':editing,'edited':todo.editing,'completed':todo.completed}" ng-init="todo.completed= false ">
      <input ng-model="todo.completed" type="checkbox"/>
     
      <label ng-click="editing=true" ng-hide="editing">{{todo.name}}</label>
      <input ng-change="todo.editing=true" ng-blur="editing=false;" ng-show="editing" ng-model="todo.name" class="editing-label" type="text"/>
  
    <div class="actions">
      <a href="" ng-click="saveTodos()"> save </a>
      <a href="" ng-click="deleteTodo(todo,$index)" class="delete"> delete </a>
    </div>